*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}
.container{
    max-width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #4203a9, #90bafc);
    color: white;
    
    padding-left: 10%;
}
.calculator h1{
    font-size: 65px;
    padding-top: 10%;
    color: white;
    line-height: 80px;
}
span{
    color: yellow;
}
.input-box{
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 35px;
    margin-top: 40px;
    background-color: rgba(255,255,255,0.3);
    width: 500px;
    border-radius: 10px;
}
.input-box input{
    width: 300px;
    height: 40px;
    border-radius: 4px;
    border: none;
    outline: none;
    padding-left: 20px;
    padding-right: 20px;
}
.input-box button{
    width: 140px;
    height: 40px;
    border-radius: 4px;
    border: none;
    outline: none;
    background-color: yellow;
    color: black;
    font-size: 15px;
}
/* .input-box input::-webkit-calendar-picker-indicator{
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: auto;
    height: auto;
    position: absolute;
    background-position: calc(100% - 10px);
    background-size: 30px;
    cursor: pointer;
} */

#result{
    font-size: 20px;
    margin-top: 20px;
}
span{
    color: yellow;
}
